.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    font-size: 1.5em;
    background-color: #242424;
    margin: 3rem auto;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    box-shadow: 0px 0px 8px rgb(165, 165, 165);
    font-weight: bold;
}

.score {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.x-score {
    color: rgb(56, 216, 56);
    border-bottom: 5px solid rgb(56, 216, 56);
    border-radius: 0.5rem 0 0 0.5rem;
    -webkit-border-radius: 0.5rem 0 0 0.5rem;
    -moz-border-radius: 0.5rem 0 0 0.5rem;
    -ms-border-radius: 0.5rem 0 0 0.5rem;
    -o-border-radius: 0.5rem 0 0 0.5rem;
}

.o-score {
    color: rgb(241, 168, 32);
    border-bottom: 5px solid rgb(241, 168, 32);
    border-radius: 0 0.5rem ;
    -webkit-border-radius: 0 0.5rem 0.5rem 0;
    -moz-border-radius: 0 0.5rem ;
    -ms-border-radius: 0 0.5rem ;
    -o-border-radius: 0 0.5rem ;
}

.inactive {
    border-bottom: 5px solid transparent;
}